$primary-normal: #06121E;
$primary-darck: #040F1A;
$primary-light: #0C2135;

$seconday-normal: #090D11;
$seconday-darck: #06090C;
$seconday-light: #1A1F25;

$black-normal: #232224;
$black-darck: #161617;
$black-light: #353436;

$white-normal: #FFFFFF;
$white-darck: #EDEAEF;
$white-light: #FEFBFF;

$red-normal: #D94140;
$red-darck: #B42B2B;
$red-light: #D34040;