.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}

/**
* INICIO DAS ESTILIZAÇÊS DA HOME
**/
.bg-home{
    position: relative;
}

.bg-home::before{
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121E), url("../assets/bg.svg");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    opacity: 0.9;
}
/**
* FINAL DAS ESTILIZAÇÊS DA HOME
**/


/**
* INICIO DAS ESTILIZAÇÊS DO HERO
**/
.hero{
    color: $white-normal;
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;

    h1{
        text-align: center;
        line-height: 150%;
        max-width: 940px;
        font-size: 36px;
    }

    p{
        text-align: center;
        margin:  15px 0;
    }
}

.button-contact{
    padding: 14px 28px;
    color: $white-normal;
    background-color: $red-normal;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0;
}

.button-contact:hover{
    animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.07);
    }
}

@media screen and (max-width: 768px) {
    .hero{
        min-height: 60vh;
    }

    .hero h1{
        font-size: 24px;
        padding: 0 15px;
        width: 100%;
    }

    .hero p{
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .hero{
        font-size: 24px;
    }
}
/**
* FIM DAS ESTILIZAÇÊS DO HERO
**/


/**
* INICIO DAS ESTILIZAÇÊS DO ABOUT / SOBRE
**/
.about{
    background-color: $primary-normal;
    overflow: hidden;
    color: $white-normal;
}

.about-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 34px 15px 64px 15px;

    img{
        max-width: 570px;
    }
}

.about-content div{
    flex: 1;
}

.about-description{
    .about-description h2{
        font-size: 38px;
        margin-bottom: 34px;
    }

    .about-description p{
        margin-bottom: 15px;
        line-height: 150%;
    }
}

@media screen and (max-width: 768px) {
    .about-content{
        flex-direction: column;
    }
}
/**
* FIM DAS ESTILIZAÇÊS DO ABOUT / SOBRE
**/


/**
* INICIO DAS ESTILIZAÇÊS DOS SERVIÇOS
**/
.services{
    background-color: $white-normal;
    color: $black-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 15px;
}

.services-content h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    margin-bottom: 15px;
}

.services-content p{
    line-height: 150%;
    margin-bottom: 15px;
    text-align: center;
    max-width: 780px;
    color: $black-normal;
}

.haircurts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0 44px 34px 44px;
}

.haircut{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $white-normal;
    border-radius: 8px;
    box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);

    overflow: hidden;

    img{
        width: 100%;
        max-width: 354px;
        transition: transform 0.2s;
    }
}

.haircut img:hover{
    transform: scale(1.2);
    z-index: 1;
}

.haircurt-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: $white-normal;
    z-index: 99;
}

.haircurt-info button{
    color: $white-normal;
    background-color: $red-normal;
    padding: 4px 8px;
    border-radius: 5px;
    border: 0;
    cursor: default;
}

@media screen and (max-width: 768px) {
    .haircurts{
        flex-direction: column;
    }

    .haircut{
        max-width: 740px;
    }
}
/**
* FIM DAS ESTILIZAÇÊS DOS SERVIÇOS
**/


/**
* INICIO DA ESTILIZAÇÂO DO FOOTER
**/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 0;
    gap: 24px;
    color: $white-normal;
}
.footer-icons{
    display: flex;
    gap: 10px;
    color: $white-normal;
}

@media screen and (max-width: 768px) {
   .footer{
    p{
        font-size: 14px,;
    }
   }
}
/**
* FIM DA ESTILIZAÇÂO DO FOOTER
**/


/**
* INICIO DA ESTILIZAÇÂO DO BOTÂO DO WHATSAPP
**/
.btn-whatsapp{
    position: fixed;
    bottom: 14px;
    right: 24px;
    z-index: 99;

    img{
        max-width: 48px;
        transition: transform 0.4s;
    }

    img:hover{
        transform: scale(1.1);
    }
}

.btn-whatsapp .tooltip-text{
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: -2px;
    left: -144px;
    padding: 4px;
    border-radius: 8px;
    text-align: center;
    background-color: $red-normal;
    color: $white-normal;
    opacity: 0;
    transition: opacity 0.3s;
}

.btn-whatsapp:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .btn-whatsapp{
        img{
            max-width: 44px;
        }
    }
}
/**
* FIM DA ESTILIZAÇÂO DO BOTÂO DO WHATSAPP
**/